{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block start %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
<div class="container mt-5">
    <h2 class="text-center">Contact Us</h2>
<div class="container mt-3">
    <div class="text-center">
        <img src="{% static 'images/rectangle 237.png' %}" class="img-fluid rounded" alt="Contact Us Image" style="max-height: 300px;">
    </div>

    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <p class="fs-5">
                <i class="fas fa-map-marker-alt" style="color: red;"></i> Address: Kalikasthan, Kathmandu
            </p>
            <p class="fs-5">
                <i class="fas fa-phone" style="color: green;"></i> Contact: 000000000000
            </p>
            <p class="fs-5">
                <i class="fas fa-envelope" style="color: blue;"></i> Email: Shristi@gmail.com
            </p>
            <p class="fs-5">
                <i class="fab fa-instagram" style="color: purple;"></i> Instagram Id: InstrumentHUB
            </p>
        </div>
    </div>
</div>
{% endblock %}
