{% extends 'frontend/base.html' %}
{% block start %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 bg-light">
      <div class="d-flex align-items-center justify-content-center mt-3 mb-4">
        <span role="img" aria-label="Admin" class="fs-3 rounded-circle bg-dark text-light p-2">👩‍💼</span>
        <h3 class="mb-0 text-dark"></h3>
      </div>

      <div class="list-group list-group-flush">
        {% if user.is_superuser %}
        <a href="{% url 'users' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Users">👥</span> Users
        </a>
        {% endif %}
        <a href="{% url 'livelistings' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Live Listings">📋</span> Live Listings
        </a>
        <a href="{% url 'my_listings' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="My Listings">📝</span> My Listings
        </a>
        <a href="{% url 'instrument_reports' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Instrument Reports">📊</span> Instrument Reports
        </a>
        <a href="{% url 'my_rentals' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="My Rentals">🚚</span> My Rentals
        </a>
        <a href="{% url 'add_instrument' %}" id="addInstrumentBtn" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Add Instrument">➕</span> Add Instrument
        </a>
        
      </div>
    </div>
    <!-- End Sidebar -->

    <!-- Main Content -->
    <div class="col-md-10">
      <div class="card-group">
        {% if user.is_superuser %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span role="img" aria-label="Total Users">👥</span> Total Users
            </h5>
            <h1>{{meta_data.total_users}}</h1>
          </div>
        </div>
        {% endif %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span role="img" aria-label="Total Instruments">🎵</span> Total Instruments
            </h5>
            <h1>{{meta_data.total_instruments}}</h1>
          </div>
        </div>
        <!-- New Box for Total Rented Instruments -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <span role="img" aria-label="Total Rented Instruments">🔑</span> Total Rented Instruments
            </h5>
            <h1>{{meta_data.total_rented_instruments}}</h1>
          </div>
        </div>
        <!-- End New Box -->
      </div>
      <section class="my-5">
        <div class="h3">Instruments</div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          {% for item in instrument %}
          <div class="col mb-4">
            <div class="card h-100 border p-4">
              <a href="{% url 'instrument_details' item.id %}">
                <img src="{{item.image}}" class="card-img" alt="..." width="300" height="300" />
              </a>
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.price_per_day}}</p>
                <p class="card-text">{{item.type}}<span class="fs-6" style="color: {% if item.status == 'Available' %}green{% else %}red{% endif %};">{{item.status}}</span></p>
                {% if item.status != 'Rented' %}
                {% if user.is_authenticated or user.is_superuser %}
                  <a href="{% url 'rent_instrument' item.id %}" class="btn btn-primary w-100 text-align-center">
                    <i class="bi bi-calendar-check"></i> <!-- Booking icon -->
                    Rent Now
                  </a>
                {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary w-100 text-align-center">
                    <i class="bi bi-calendar-check"></i> <!-- Booking icon -->
                    Rent Now
                  </a>
                {% endif %}
              {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
    <!-- End Main Content -->
  </div>
</div>

<style>
  .sidebar-item {
    transition: transform 0.3s;
  }
  .sidebar-item:hover {
    transform: translateX(5px);
  }
</style>

{% endblock %}
