{% extends 'frontend/base.html' %} {% block start %}
<div
  class="container-fluid min-vh-100 d-flex justify-content-center align-items-center"
>
  <div class="card border-0 w-50 bg-transparent p-4">
    <div class="login-box bg-light info text-dark mx-5 rounded p-4 border border-dark"> 
      <h2 class="text-center">Rent Instruments</h2>
      {% if form.errors %}
      <div class="alert alert-danger">
        {% for field, error in form.errors.items %} {{ error }} {% endfor %}
      </div>
      {% endif %}
 
      
      <form action="{% url 'rent_instrument' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="pickup_date" class="form-label">
          <i class="fas fa-user"></i>
         PickUp Date 
        </label>
        <input
          type="date"
          id="name"
          name="name"
          class="form-control"
          required
        />
        
        <label for="dropoff_date" class="form-label">
            <i class="fas fa-user"></i>
            DropOff Date
          </label>
          <input
            type="date"
            id="dropoff_date"
            name="dropoff_date"
            class="form-control"
            required
          />
      

    
        <label for="pickup_address" class="form-label mt-3">
          <i class="fas fa-user"></i>
          PickUp Address
        </label>
        <input
          type="text"
          id="pickup_address"
          name="pickup_address"
          class="form-control"
          required
        />

       

        <label for="dropoff_address" class="form-label mt-3">
          <i class="fas fa-lock"></i>
          DropOff Address
        </label>
        <input
          type="text"  
          id="dropoff_address"
          name="dropoff_address"
          class="form-control"
          required
        />

        <div class="text-center mt-3">
          <button type="Rent Instrument" class="btn btn-primary mt-3 text-center">
            Rent Instrument
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
