{% extends 'frontend/base.html' %}

{% block start %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 bg-light">
      <div class="d-flex align-items-center justify-content-center mt-3 mb-4">
        <span role="img" aria-label="Admin" class="fs-3 rounded-circle bg-dark text-light p-2">👩‍💼</span>
        <h3 class="mb-0 text-dark">Admin</h3>
      </div>

      <div class="list-group list-group-flush">
        {% if request.user.is_superuser %}
        <a href="{% url 'users' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Users">👥</span> Users
        </a>
        {% endif %}
        <a href="{% url 'livelistings' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Live Listings">📋</span> Live Listings
        </a>
        <a href="{% url 'my_listings' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="My Listings">📝</span> My Listings
        </a>
        <a href="{% url 'instrument_reports' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Instrument Reports">📝</span> Instrument Reports
        </a>
        <a href="{% url 'my_rentals' %}" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="My Rentals">📝</span> My Rentals
        </a>
        <a href="{% url 'add_instrument' %}" id="addInstrumentBtn" class="list-group-item list-group-item-action bg-light text-dark sidebar-item">
          <span role="img" aria-label="Add Instrument">➕</span> Add Instrument
        </a>
      </div>
    </div>
    <!-- End Sidebar -->

    <!-- Main Content -->
    <div class="col-md-10">
    <div class="btn btn-primary btn-lg text-center disabled opacity-100 my-3">
      <span>Users</span>
    </div>
    <div class="card shadow p-4">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <form method="get" action="{% if user.id %}{% url 'delete_user' user.id %}{% endif %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

